.button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1;
  transition: all .2s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: .6;
}
