.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 879px) {
  .footer__copyright {
    margin: 0 19px;
    font-size: 14px;
    line-height: 17px;
  }
}
