.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
}

@media screen and (max-width: 1023px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
