.logo {
  width: 142px;
  height: 33px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: logo;
}

@media screen and (max-width: 879px) {
  .logo {
    width: 103.75px;
    height: 24.4px;
    margin-left: 30px;
  }
}
