.menu__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .2s linear;
}

.menu__link:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .menu__link {
    width: 100%;
    text-align: center;
    margin:18px 0 40px
  }

}