.button_type_edit {
  width: 24px;
  height: 24px;
  grid-area: button;
  background: url('../../../images/edit-button.svg') center no-repeat;
  background-size: 10px;
  align-self: end;
  margin-bottom: 8px;
  border: 1px solid #fff;
}

@media screen and (max-width: 1023px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    margin-bottom: 5px;
  }
}
